<form class="login-page">
  <!-- card container -->
  <div class="card is-centered">
    <div class="card-content login">
      <p class="title">
        <img src="/imgs/logo-lateral.png">
      </p>
      <p class="subtitle">
        Sign in to continue.
      </p>
      <!-- Sign in information -->
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" id="email-signup" type="text" placeholder="Email address">
        </div>
      </div>
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" id="password-signup" type="password" placeholder="My password">
        </div>
      </div>
      <button class="button">Sign In</button>
      <h6 class="subtitle is-6 has-text-centered">or</h6>
</form>
<!--Register Button-->
</div>
<footer class="card-footer">
  <p class="card-footer-item register">
    <span>
      Register
    </span>
  </p>
</footer>
</div>

<script src="/javascript/login.js"></script>