:root {
    --pastel-green-color: #e1ecd7;
    --pastel-orange-color: #e0795d;
    --golden-yellow-color: #f0ca8c;
    --pastel-blue-color: #6b9af6;
    --white-color: #fff;
    --heading-text-color: #000000;
    --body-text-color: #3b3d50;
}

html {
    background-color: var(--golden-yellow-color);
}

.button {
    border-radius: 0;
    border: none;
    background-color: #6b9af6;
    color: white;
    margin-top: 1rem;
    
   
    
   }
   .card-content.login {
   background-color: #e1ecd7;
    border: none;
    
    
   }
   .card-footer-item.register {
    background-color: #6b9af6;;
    color: white;
    margin: auto;
   }
   .input{
   border-width:1px;
    border-radius:15px;
   }
   .card-footer {
   border: none;
   }
   .label {
    font-weight:bold;
    color: #e0795d;
   }

   p.subtitle {
    text-align: center;
   }

   .card {
    width: 25%;
    height: 25%;
    margin-top: 12rem;
    margin-left:auto;
    margin-right: auto;
   }

 
body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}