:root {
    --pastel-green-color: #e1ecd7;
    --pastel-orange-color: #e0795d;
    --golden-yellow-color: #f0ca8c;
    --pastel-blue-color: #6b9af6;
    --white-color: #fff;
    --heading-text-color: #000000;
    --body-text-color: #3b3d50;
}

body {
    font-size: 16px;
    font-family: 'Antic', sans-serif;
}

/* Navbar Styles */
.navbar {
background-color: var(--pastel-green-color);
font-family: 'Antic', sans-serif;
font-weight: bold;
}

.button {
    background-color: var(--pastel-green-color);
    border: none;
    font-family: 'Bubblegum Sans', sans-serif;
}

.button:hover {
    background-color: #aeb9a4;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.navbar-item a {
    font-family: 'Antic', sans-serif;
    font-weight: bold;
}

header {
    height: 950px;
    min-height: 100%;
    background-color: var(--pastel-green-color);
    background-image:url(../imgs/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.title-container {
    margin-top: 780px;
    background-color: var(--pastel-blue-color);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 10px;
    backdrop-filter: blur(1px);
    padding: 15px;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: all 0.3s ease 0s;
}

.title-container:hover {
    background-color: var(--pastel-blue-color);
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 12px;
    transform:  translateY(-5px);
}

#button-main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    font-size: 25px;
    background: none;
    text-decoration: none;
}

#button-main:hover {
    background-color: var(--pastel-orange-color);
    color: var(--white-color);
}

h1 {
    font-size: 40px;
    font-weight: 200;
    color: var(--heading-text-color);
    font-family: 'Bubblegum Sans', sans-serif;
}

h2 {
    font-size: 35px;
    font-weight: 200;
    color: var(--heading-text-color);
    font-family: 'Antic', sans-serif;
}

/* About Section Styles */
#about-section {
    background: var(--white-color);
}

#about-info-container {
    margin: auto;
    margin-left: 5%;
}

#about-info-img {
    margin: auto;
    padding-top: 5%;
    padding-left: 10%;
}

/* Dog Filter Choices Section Styles */
#dog-filter-section {
    background-color: var(--pastel-orange-color);
}

.breed-choice {
    color:#e0795d;
    font-weight: 600;
    font-family: 'Antic', sans-serif;
    font-size: larger;
    text-align: center;
    border-radius: 60px;
    border-color: #aeb9a4;
    border-width: 5px;
    
}

.dog-img {
    max-width: 50%;
    /* width: 700px;
    height: 550px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 8px;
}

.table {
    background-color:var(--pastel-green-color);
}

#table-title {
    padding-top: 50px;
    font-family: 'Bubblegum Sans', sans-serif;
}

.table-header {
    font-family: 'Antic', sans-serif;
    font-size: 20px;
}

/* Adoption Center Section Styles */
#adoption-section {
    background-color: var(--pastel-blue-color);
}

#adoption-section h1 {
    font-family: 'Bubblegum Sans', sans-serif;
}

.adoption-img {
    max-width: 70%;
    padding-bottom: 15px;
}

.adoption-img-racc {
    max-width: 50%;
    padding-bottom: 15px;
}

.adoption-img-sm {
    max-width: 100%;
    padding-bottom: 15px;
}

#adoption-section h3 {
    padding-bottom: 0px;
}

.adopt-card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 0 5px 8px;
    height: 400px;
    margin: 10px;
    transition: all 0.3s ease 0s;
}

.adopt-card:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 10px 12px;
    transform:  translateY(-3px);
}

/* Contact Section Styles */
#contact-section {
    background-color: var(--golden-yellow-color);
    text-align: center;
}

