/* Project Color Palette */
:root {
    --pastel-green-color: #e1ecd7;
    --pastel-orange-color: #e0795d;
    --golden-yellow-color: #f0ca8c;
    --pastel-blue-color: #6b9af6;
    --heading-text-color: #000000;
    --body-text-color: #3b3d50;
}